.btnaddEvent{
    margin-left: 250px;
}
.btncancelAdd{
    margin-left: 5px;

}
.contAdd{
    margin-left: 300px !important;
   
}
.card-panel{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
.usersBackground{
    background-image: url("/image/fondo-4.jpg");
     background-repeat: no-repeat; 
       background-size: cover; 
      background-position: center; 
      min-height: 100vh
  
  }
@media screen and (max-width: 580px){
    .contAdd{margin-left: 45px !important}
    .btnaddEvent{margin-left: 65px}
}