.fileaddphoto{
    margin-left: 90px;
}
.contaddphoto{
    margin-left: 400px !important;
}
.btnsavePhoto{
    margin-left: 50px;
}
.letters{
    color: rgb(48, 46, 46)
}
@media screen and (max-width:580px){
    .contaddphoto{margin-left: 20px !important}
}