.btnsavePhoto{
    margin-left: 190px;
}
.btnCancelPhoto{
    margin-left: 5px;
}
.contPhoto{
    margin-left: 392px !important;
}
@media screen and (max-width: 580px){
    .contPhoto{margin-left: 20px !important}
    .btnsavePhoto{margin-left: 92px}
}