
.formulario {
    margin-top: 90px;
    
    
    
}
.left{
    margin-left: 270px;

}
.btnRight{
    margin-left: 10px;
    
}
.caja1{
    margin-left: 200px;
}
@media screen and (max-width: 580px){
    .left{margin-left: 85px}
}
