.fondoEditUser{
    background-color: papayawhip;
    height: 100vh;
    

}

.formulario {
    margin-top: 90px !important;
    background-color: rgba(252, 211, 155, 0.164) !important;
    
}
.left{
    margin-left: 350px;
}
.right{
    margin-right: 405px;
}

