.editProfile{
    margin-left: 93px;
}
.coleditProfile{
    margin-left: 55px !important;
}
.btneditPerfil{
    margin-left: 200px;
    background-color: #424242  !important;
}
.btnfileProfile{
    margin-left: 160px;
    background-color: #424242  !important;
}
.contEditProfile{
    margin-left: 393px !important;
}
.btncancelProfile{
    background-color: #424242 !important;
    margin-left: 5px;
}
@media screen and (max-width: 580px){
    .contEditProfile{margin-left: 20px !important}
    .coleditProfile{margin-left: 20px !important}
    .btnfileProfile{margin-left: 55px}
    .editProfile{margin-left: 0px}
    .btneditPerfil{margin-left: 80px}

}
