.backGroundImageLayout{
    background-image: url("/image/fondo-definitivo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 89.83vh;
    
    background-position: center
}
