/*body{
    background-image: url("/image/collage-image.jpeg");
     background-size: cover;
     background-repeat: no-repeat;
     width: 100%;
    height: 100%; 
     background-attachment: fixed; 
     
}
*/
#btnLogin {
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px !important;
    margin-left: -70px;
}
#btnSignUp {
    margin-right: -118px !important;
    margin-top: -54px;
    border-radius: 10px 10px 10px 10px !important;
}
.btnSignup1 {
    margin-left: 260px;
    border-radius: 10px 10px 10px 10px !important;
}
.modal1 {
    width: 30%;
    max-height: 98% !important;
    overflow-y: hidden !important;
    margin-top: -8px !important;
    background-color: white !important;
    opacity: 10px;
    border-radius: 10px 10px 10px 10px !important;
}
.modal2 {
    width: 30%;
    max-height: 98% !important;
    overflow-y: hidden !important;
    margin-top: -8px !important;
    background-color: white !important;
    border-radius: 10px 10px 10px 10px !important;
}
.loginPhoto {
    margin-top: 0px !important;
    margin-left: 209px;
}
.avatarDefault {
    border-radius: 76px;
    margin-left: 250px;
}
.btnLog {
    width: 150px;
    margin-top: -9px;
    text-align: center;
    margin-left: 270px;
    border-radius: 10px 10px 10px 10px !important;
}
.submit {
    width: 150px;
    margin-top: -7px;
    text-align: center;
    margin-left: 280px;
    border-radius: 10px 10px 10px 10px !important;
}
.btnSignup {
    width: 150px;
    margin-top: -9px;
    text-align: center;
    margin-left: 300px !important;
    border-radius: 10px 10px 10px 10px !important;
}
.border-red {
    border-bottom: 1px solid red;
}
.input-field input[type=text]:focus {
    border-bottom: 1px solid grey !important;
    box-shadow: 0 1px 0 0 rgb(117, 110, 110) !important;
}
.input-field input[type=password]:focus {
    border-bottom: 1px solid grey !important;
    box-shadow: 0 1px 0 0 rgb(117, 110, 110) !important;
}
.input-field .prefix.active {
    color: grey !important;
}
.input-field .active {
    color: rgb(46, 42, 42) !important;
}

.box2 img {
    width: 111%;
    height: 100vh;
    -webkit-transition: width 2s;
    transition: width 2s;
}
.izq {
    padding-right: 0px;
}
/* .box3 img {
    position: absolute;
    right: 0px;
    width: 26%;
    height: 100vh;
    -webkit-transition: right 2s, width 2s;
    transition: width 2s;
} */
/* .box3 img {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100vh;
    -webkit-transition: right 2s, width 2s;
    transition: width 2s;
} */
/* .box3 img {
    left: 0;
    width: 100%;
    height: 100vh;
    -webkit-transition: left 2s, width 2s;
    transition: width 2s;
} */
.derech{
    padding: 0 !important;
}
.izq{
    padding: 0 !important;
}
.box3 img {
    /* position: absolute; */
    right: 0;
    width: 89%;
    float: right;
    height: 100vh;
    -webkit-transition: right 2s, width 2s;
    transition: width 2s;
    transition-delay: width 2s;
}
.container-fluid:hover .box2 img {
    width: 68%;
}
.container-fluid:hover .box3 img {
    width: 68%;
}
.camera {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9;
}
.camera {
    z-index: 8;
}
.carta {
    margin: auto;
    z-index: 9;
}
.carta-container {
    width: 100%;
    height: 100%;
}
.thumb {
    width: 0%;
    height: 0%;
    margin-left: 40%;
    margin-top: 10%;
    perspective: 1000px;
    /* transform: rotateX(80deg); 
    transform-origin: bottom; */
    position: absolute;
    /* margin-left: 752px; */
    -webkit-transition: right 2s, width 2s;
    transition: width 2s;
}
.thumb button {
    width: 0px;
    height: 0px;
    -webkit-transition: right 2s, width 2s;
    transition: width 2s;
}
.principal {
    background-image: url("/image/trigal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
}
.principal:hover .thumb {
    transition-delay: 2s;
}
.principal:hover .thumb {
    width: 300px;
    height: 300px;
    transition-delay: 2s;
}
.thumb a {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/image/polaroid.jpg");
    background-size: 0, cover;
    transform-style: preserve-3d;
    transition: all 0.5s;
}
.principal:hover .thumb button {
    width: 95px;
    height: 25px;
    transition-delay: 2.5s;
}
.thumb a span {
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font: bold 12px/36px "Open Sans";
    text-align: center;
    transform: rotateX(-89.99deg);
    transform-origin: top;
    z-index: 1;
}
.thumb a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    opacity: 0.15;
    transform: rotateX(95deg) translateZ(-80px) scale(0.75);
    transform-origin: bottom;
}
.thumb:hover a:before {
    opacity: 1;
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
    transform: rotateX(0) translateZ(-60px);
}
@media screen and (max-width: 580px) {
    .loginPhoto {
        margin-left: 0px
    }
    .btnLog {
        margin-left: 55px
    }
    .avatarDefault {
        margin-left: 40px
    }
    .submit {
        margin-left: 60px
    }
    .btnSignup1 {
        margin-left: 50px
    }
}
