/*body{
    background-image: url("/image/collage-image.jpeg");
     background-size: cover;
     background-repeat: no-repeat;
     width: 100%;
    height: 100%; 
     background-attachment: fixed; 
     
}
*/
#btnLogin{
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px !important;
    margin-left: -70px;
}
#btnSignUp{
    margin-right: -118px !important;
    margin-top: -54px;
    border-radius: 10px 10px 10px 10px !important;
}
.btnSignup1{
    margin-left: 260px;
    border-radius: 10px 10px 10px 10px !important;
}
.modal1{
    width: 30%;
    max-height: 98% !important;
    overflow-y: hidden !important;
    margin-top: -8px !important;
    background-color: white !important;
    opacity: 10px;
    border-radius: 10px 10px 10px 10px !important;
}

.modal2{
    width: 30%;
    max-height: 98% !important;
    overflow-y: hidden !important;
    margin-top: -8px !important;
    background-color: white !important;
    border-radius: 10px 10px 10px 10px !important;
    
    
}

.loginPhoto{
    margin-top: 0px !important;
    margin-left: 209px;
    
}
.avatarDefault{
    border-radius: 76px;
    margin-left: 250px;
}
.btnLog{
    width: 150px;
    margin-top: -9px;
    text-align: center;
    margin-left: 270px;
    border-radius: 10px 10px 10px 10px !important;
}

.submit{
    width: 150px;
    margin-top: -7px;
    text-align: center;
    margin-left: 280px;
    border-radius: 10px 10px 10px 10px !important;
    
}
.btnSignup {
    width: 150px;
    margin-top: -9px;
    text-align: center;
    margin-left: 300px !important;
    border-radius: 10px 10px 10px 10px !important;
}

.border-red{
    border-bottom: 1px solid red;

}
.input-field input[type=text]:focus {
    border-bottom: 1px solid grey !important;
    box-shadow: 0 1px 0 0 rgb(117, 110, 110) !important;
  }
  .input-field input[type=password]:focus {
    border-bottom: 1px solid grey !important;
    box-shadow: 0 1px 0 0 rgb(117, 110, 110) !important;
  }
  .input-field .prefix.active {
    color: grey !important;
  }
  .input-field .active {
    color: rgb(46, 42, 42) !important;
  }

  @media screen and (max-width: 580px){
      .loginPhoto{margin-left: 0px}
      .btnLog{margin-left: 55px}
      .avatarDefault{margin-left: 40px}
      .submit{margin-left: 60px}
      .btnSignup1{margin-left: 50px}
  }
