/*body{
    background-image: url("/image/collage-image.jpeg");
     background-size: cover;
     background-repeat: no-repeat;
     width: 100%;
    height: 100%; 
     background-attachment: fixed; 
     
}
*/
#btnLogin{
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px !important;
    margin-left: -60px !important;
}
#btnSignUp{
    margin-right: -118px !important;
    margin-top: -54px;
    border-radius: 10px 10px 10px 10px !important;
}
.modal1{
    width: 50% !important;
    max-height: 98% !important;
    overflow-y: hidden !important;
    margin-top: -20px !important;
    background-color: white !important;
    opacity: 10px;
}
.modal2{
    width: 60% !important;
    max-height: 98% !important;
    overflow-y: hidden !important;
    margin-top: -20px !important;
    background-color: rgba(34, 150, 96, 0.753) !important;
    
    
}
.loginPhoto{
    margin-top: 0px !important;
    
}
.avatarDefault{
    border-radius: 76px;
}
.btnLog{
    width: 150px;
    margin-top: -9px;
    text-align: center;
    margin-left: 230px !important;
    border-radius: 10px 10px 10px 10px !important;
}

.submit{
    width: 150px;
    margin-top: -9px;
    text-align: center;
    margin-left: 300px !important;
    border-radius: 10px 10px 10px 10px !important;
    
}
.btnSignup {
    width: 150px;
    margin-top: -9px;
    text-align: center;
    margin-left: 300px !important;
    border-radius: 10px 10px 10px 10px !important;
}

.border-red{
    border-bottom: 1px solid red;

}