
nav{
    background:rgb(0 , 0, 0, .4) !important; 
    position: fixed !important;
    height: 64px !important; 
}
.object{
    margin-top: -3px !important;
}

#dropdown2 {
    top: 51px !important;
    margin: 0px !important;
    border-radius: 10px 10px 10px 10px !important;
    background: transparent;
}
#btnDrop{
    background-color: transparent !important;
    border-radius: 10px 10px 10px 10px !important;
}
 .dropdown-trigger{
    width: 102px;
} 
 .i{
    margin-top: -51px;
    margin-right: -82px;
} 
.list{
    margin-right: 10px !important;
}
.avatar{
    margin-right: 11px !important;
    margin-top: 5px !important;
    border-radius: 50% !important;
}