
.nav{
    background:rgb(0 , 0, 0, .4) !important; 
    height: 64px !important;
    /* top: 0 !important; */
}
.object{
    margin-top: -3px !important;
}


#dropdown2 {
    top: 51px !important;
    margin: 0px !important;
    border-radius: 10px 10px 10px 10px !important;
    background: transparent;
}
#btnDrop{
    background-color: transparent !important;
    border-radius: 10px 10px 10px 10px !important;
}
 .dropdown-trigger{
    width: 102px;
} 
 .i{
    margin-top: -51px;
    margin-right: -82px;
}
.is{
    color:black;
}
.text{
    color:black !important;
}
.list{
    margin-right: 10px !important;
}
.avatar{
    height: 55px !important;
    margin-right: 11px !important;
    margin-top: 5px !important;
    /* border-radius: 40% !important; */
}