.detailsevent{
    margin-top: -20px !important;
}
.usersBackground{
    background-image: url("/image/fondo-4.jpg");
     background-repeat: no-repeat; 
       background-size: cover; 
      background-position: center; 
      min-height: 100vh
  
  }
.btnevents{
    margin-left: 176px;
}
.btndeleteEvent{
    margin-left: 5px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
@media screen and (max-width: 580px){
    .btnevents{
        margin-left: 95px;
    }
}