.usersBackground{
  background-image: url("/image/fondo-4.jpg");
   background-repeat: no-repeat; 
     background-size: cover; 
    background-position: center; 
    min-height: 100vh;

}
.card{

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  text-align: center;
}
.nombres{
  color: black
}
.btnDeleteUser{
  margin-left: 5px;
}
@media screen and (max-width: 580px){
  .btnDeleteUser{margin-left: 5px}
}
