
.usersBackground{
    background-image: url("/image/fondo-4.jpg");
     background-repeat: no-repeat; 
       background-size: cover; 
      background-position: center; 
      min-height: 100vh
  
  }
  .title1 {
    margin-left: 0px;
    margin-bottom: 21px;
    margin-top: 58px;
}
.section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.container .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}
