/* .LoginPage{
  background-image: url("/image/collage-image.jpeg");
} */
/* .App {
  text-align: center;
  
} */

/* body{
  font-family: 'Muli', sans-serif;
  font-size: 11px;
} */


/* .body{
  font-size: 10px;
  font-family: cursive;
} */


/* .userimage{
  width: 100%;
  height: 200px;
}*/